In [2]:
import pandas as pd

In [9]:
# Read the csv file and make it the dataframe

df = pd.read_csv("Percentile after tax.csv")

In [10]:
df.head(5)

,Percentile point for total income after tax,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 21
0,1,"4,570","4,600","4,760","4,840","4,800","4,950","5,170","5,370","5,570",...,"7,690","8,320","9,660","10,200","10,800","11,200","11,700","12,000","12,700",NaN
1,2,"4,800","4,800","5,000","5,070","5,020","5,200","5,450","5,660","5,860",...,"7,910","8,570","9,900","10,500","11,000","11,400","11,900","12,200","12,900",NaN
2,3,"5,010","4,990","5,250","5,330","5,260","5,450","5,710","5,930","6,150",...,"8,140","8,820","10,100","10,700","11,200","11,600","12,200","12,500","13,200",NaN
3,4,"5,260","5,200","5,490","5,570","5,500","5,700","5,960","6,190","6,430",...,"8,360","9,060","10,400","10,800","11,300","11,800","12,400","12,700","13,400",NaN
4,5,"5,500","5,410","5,730","5,830","5,730","5,940","6,210","6,450","6,710",...,"8,600","9,300","10,600","11,000","11,500","12,000","12,600","12,900","13,600",NaN

In [11]:
import json

# Exporting the dataframe as a json file

exported_values = list(df.T.to_dict().values())

open("Percentile after tax.json","w").write(json.dumps(exported_values))

46532