In [26]:
import pandas as pd

In [112]:
df = pd.read_csv("Monthly Mortality.csv")

In [113]:
df.head(5)

       Date  Value  Group
0  2001 Jan   1848  Males
1  2001 Feb   1617  Males
2  2001 Mar   1623  Males
3  2001 Apr   1508  Males
4  2001 May   1494  Males

In [114]:
exported_values = list(df.T.to_dict().values())

In [115]:
import json

In [116]:
open("Monthly mortality.json","w").write(json.dumps(exported_values))

42721