In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("House_prices.csv")

In [5]:
df.head(5)

         Date  Price
0  01/07/1992  62255
1  01/10/1992  63712
2  01/01/1993  59230
3  01/04/1993  60213
4  01/07/1993  61895

In [6]:
exported_values = list(df.T.to_dict().values())

In [7]:
import json

In [8]:
open("my_json_file.json","w").write(json.dumps(exported_values))

4929