<a href="https://colab.research.google.com/github/DataScienceLiam/DataScienceLiam.github.io/blob/main/colab/Gini_coefficient_%26_Income.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from pandas import DataFrame
from typing import Set, Any


def remove_others(df: DataFrame, columns: Set[Any]):
    cols_total: Set[Any] = set(df.columns)
    diff: Set[Any] = cols_total - columns
    df.drop(diff, axis=1, inplace=True)

# Opening the csv files as dataframes
# https://www.ons.gov.uk/peoplepopulationandcommunity/personalandhouseholdfinances/incomeandwealth/datasets/householddisposableincomeandinequality
# I saved two pages of the xls file as two csv files:

df_Gini = pd.read_csv('Gini coefficient.csv')

df_income = pd.read_csv('Median income.csv')



# Reassigning year values as they were not all usable e.g. 2018/2019
df_income["Year"] = df_income["Year"].str[:4]

df_Gini["Year"] = df_Gini["Year"].str[:4]

In [ ]:
from functools import reduce
# Merging the two dataframes

dfs = [df_Gini, df_income]
merged_df = reduce(lambda left, right: pd.merge(
    left, right, on=['Year'], how='inner'), dfs)

In [ ]:
# Renaming a column

merged_df = merged_df.rename(columns={'Disposable': 'After tax and redistribution'})

merged_df.head(5)

   Year  Original income  Final income  All individuals  Retired  Non-retired
0  1977             36.8          22.0            13584     8629        14322
1  1978             37.1          21.1            15024     9237        15761
2  1979             37.2          21.5            15618     9188        16636
3  1980             38.3          22.7            16122     9506        17106
4  1981             40.3          23.0            15293     9877        16245

In [ ]:
# Exporting the merged dataframe as a csv file

merged_df.to_csv('Gini & Income.csv', index = False)